.contents {
  display: contents;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

:where(:root:not(:has(.no-script))) .server-only {
  display: none;
}

:where(:root:has(.no-script)) .client-only {
  display: none;
}
